---
import Layout from "@/src/layouts/Layout.astro";

import CalButton from "@/src/components/CalButton";
import PlansSection from "@/src/components/PlansSection";
---

<Layout title="Pricing">
  <section
    class="flex flex-col items-center justify-center gap-4 overflow-hidden pb-8 pt-12 md:pb-0"
  >
    <div class="flex w-full flex-col gap-12 lg:flex-row">
      <PlansSection client:load />
    </div>
    <div class="flex flex-col items-center gap-6 p-2 md:flex-row md:gap-2">
      <p class="text-center text-sm md:text-lg">
        Quero um aplicativo ou site tipo <strong
          >ifood, netflix, youtube, uber...</strong
        > vamos conversar melhor?
      </p>
      <CalButton client:visible />
    </div>
  </section>
</Layout>
