---
import Layout from "@/src/layouts/Layout.astro";

import PlansSection from "@/src/components/PlansSection";
---

<Layout title="Ascent - pricing">
  <section
    class="flex h-full flex-col items-center justify-center gap-8 overflow-hidden lg:gap-6"
  >
    <div class="flex w-full flex-col gap-12 lg:flex-row">
      <PlansSection client:load />
    </div>
  </section>
</Layout>
