@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    font-family: "Inter Variable", sans-serif;
    background-image: url("/images/background.svg");
    background-position: center;
    background-repeat: repeat-y;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02",
      "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";

    @apply h-full bg-zinc-950 text-white selection:bg-orange-600;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffa200 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffa200;
    border-radius: 8px;
    border: 3px solid #ffffff00;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffa200 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffa200;
    border-radius: 8px;
    border: 3px solid #ffffff00;
  }
}
