---
import "@fontsource-variable/roboto-mono";
import "@fontsource-variable/inter";

import Layout from "@/src/layouts/Layout.astro";

import AttractionButton from "../components/AttractionButton";
import PriceSection from "../components/PlansSection";
---

<Layout>
  <section
    class="flex h-full animate-fade-down flex-col items-center justify-center gap-8 overflow-hidden lg:gap-12"
  >
    <h1
      style={{ fontFamily: "Roboto Mono Variable" }}
      class="text-3xl font-black lg:text-6xl"
    >
      Ascent Software
    </h1>

    <div
      class="flex w-full flex-col items-center justify-center gap-12 lg:flex-row"
    >
      <div class="flex w-4/5 flex-col justify-center gap-8 lg:w-[85ch]">
        <p class="text-left text-lg text-zinc-400 md:text-center md:text-xl">
          A <strong> Ascent</strong> organiza desenvolvedores freelancer para
          que seu projeto seja entregue com qualidade e no prazo. Se voce é um
          desenvolvedor freelancer, a <strong> Ascent</strong> te ajuda a
          encontrar projetos que se encaixam no seu perfil.
        </p>

        <div class="flex items-center justify-center">
          <AttractionButton isClient client:load />
          <!-- <AttractionButton isClient={false} client:load /> -->
        </div>
      </div>
    </div>
  </section>
  <section
    class="flex h-fit flex-col items-center justify-center gap-8 overflow-hidden lg:gap-12"
  >
    <h1
      style={{ fontFamily: "Roboto Mono Variable" }}
      class="w-full px-2 text-center text-xl font-black md:w-1/2 lg:text-6xl"
    >
      Encontre o plano ideal para seu projeto
    </h1>

    <div class="flex w-full flex-col gap-12 lg:flex-row">
      <PriceSection client:load />
    </div>
  </section>

  <section
    class="flex h-full flex-col items-center justify-center gap-8 overflow-hidden lg:gap-12"
  >
    <h1>Nova seção</h1>
  </section>
</Layout>
