---
import "@/src/styles/globals.css";
import "@fontsource-variable/roboto-mono";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

import Nav from "../components/Nav";
const { title } = Astro.props;
---

<html lang="en" class="h-full" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body
    style={{
      margin: 0,
      height: "100%",
      fontFamily: "Inter Variable",
      backgroundImage:
        "url('https://global-uploads.webflow.com/60e4613c6af8ff8ba41157b4/64d334175cab998e118f5105_radial-gradient-bg.svg')",
      backgroundPosition: "center",
      backgroundRepeat: "repeat-y",
    }}
    class="bg-zinc-950 text-white selection:bg-orange-600"
  >
    <Nav client:load />
    <slot />
  </body>
</html>
