---
import "@/src/styles/globals.css";

import { SEO, type Props as SEOProps } from "astro-seo";

export type LayoutProps = SEOProps;

type Props = LayoutProps;

import Nav from "../components/Nav";

const { props } = Astro;
---

<html lang="pt-BR" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO
      titleDefault="Ascent Software"
      description="A Ascent organiza desenvolvedores freelancer para que seu projeto seja entregue com qualidade e no prazo. Se voce é um desenvolvedor freelancer, a Ascent te ajuda a encontrar projetos que se encaixam no seu perfil."
      {...props}
    />
  </head>
  <body>
    <Nav client:load />
    <slot />
  </body>
</html>
