---
import Nav from "../components/Nav";
const { title } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body
    style={{
      margin: 0,
      height: "100%",
      fontFamily: "Inter Variable",
      backgroundImage:
        "url('https://global-uploads.webflow.com/60e4613c6af8ff8ba41157b4/64d334175cab998e118f5105_radial-gradient-bg.svg')",
      backgroundPosition: "center",
      backgroundRepeat: "no-repeat",
    }}
    class="text-white selection:bg-orange-600 bg-zinc-950"
  >
    <Nav client:load />
    <slot />
  </body>
</html>
